name: Java CI CD
  
on:
  push:
    branches: main
      
jobs: 
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
      
    steps:
    - name: checkout the code
      uses: actions/checkout@v3

    - name: Set up Java version
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    
    - name: Build with Maven # also packages the application
      run: mvn -B package -DskipTests --file pom.xml
      working-directory: ./PortalBackend/Java

    - name: Run Tests with Maven # also packages the application
      run: mvn -B test -Dspring.profiles.active=test --file pom.xml
      working-directory: ./PortalBackend/Java

    - name: Build and push docker image
      uses: docker/build-push-action@v2
      with:
        context: PortalBackend/Java
          #file: ./Dockerfile

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
          #client-id: ${{ secrets.AZURE_CLIENT_ID }}
          #tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          #subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Build and push Docker image
      uses: azure/docker-login@v1
      with:
        context: PortalBackend/Java
        login-server: vishwassregistry.azurecr.io
        username: ${{ secrets.AZURE_CLIENT_ID }}
        password: ${{ secrets.AZURE_CLIENT_SECRET }}

    - name: Build and push Docker image
      run: |
        docker build -t vishwassregistry.azurecr.io/java_test:v1 .
        docker push vishwassregistry.azurecr.io/java_test:v1

    - name: Deploy to AKS
      uses: azure/aks-set-context@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        resourceGroup: vishwaas-rg
        clusterName: vishwaas-cluster

            #- name: Apply Kubernetes manifests
            #run: |
            #kubectl apply -f <path-to-your-manifests>
